<div class="w-full max-w-[1400px] mx-auto px-4 py-10">

  <!-- Skeleton Loader -->
  <div *ngIf="loading" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
    <div *ngFor="let x of [1,2,3]" class="animate-pulse border rounded-xl overflow-hidden">
      <div class="h-[320px] bg-gray-300"></div>
      <div class="p-5 space-y-3">
        <div class="h-4 bg-gray-300 w-2/3 rounded"></div>
        <div class="h-4 bg-gray-300 w-1/3 rounded"></div>
        <div class="h-10 bg-gray-300 w-full rounded"></div>
      </div>
    </div>
  </div>

  <!-- Actual Product Grid -->
  <div *ngIf="!loading" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">

    <div
      *ngFor="let product of products"
      class="border rounded-xl overflow-hidden shadow-sm hover:shadow-lg transition bg-white"
    >
      <!-- IMAGE SECTION -->
      <a routerLink="/products/{{ product.slug }}" class="">
        <div class="relative w-full h-[320px] bg-white flex justify-center items-center group overflow-hidden">

          <!-- Wishlist Heart -->
          <button
            class="absolute top-3 right-3 bg-white shadow p-2 rounded-full hover:bg-gray-100">
            ❤️
          </button>

          <!-- Image (Hover Zoom) -->
          <img
            [src]="product.img"
            class="h-full w-full object-cover transition-transform duration-500 group-hover:scale-110"
          />
        </div>
      </a>

      <div class="p-5">

        <!-- Product Name -->
        <h3 class="text-xl font-semibold text-gray-900">
          {{ product.name }}
        </h3>

        <!-- Ratings -->
        <div class="flex items-center gap-1 mt-2">
          <ng-container *ngFor="let starFilled of getStars(product.rating); let i = index">
            <span *ngIf="starFilled" class="text-yellow-500 text-lg">★</span>
            <span *ngIf="!starFilled" class="text-gray-300 text-lg">★</span>
          </ng-container>

          <span class="text-sm text-gray-600 ml-1">
            {{ product.rating }}
          </span>
        </div>

        <!-- Price -->
        <p class="text-gray-800 font-semibold mt-3">
          Rs.{{ product.price  }}
        </p>

        <!-- EMI -->
        <!-- <p class="text-sm text-gray-600 mt-1">
          or ₹{{ product.emi }}/Month
          <button class="text-[10px] bg-gray-800 text-white px-2 py-[2px] rounded ml-1">
            Buy on EMI
          </button>
        </p> -->

        <!-- Add to Cart -->
        <button
          class="w-full mt-5 bg-gray-900 text-white py-3 rounded-lg font-semibold hover:bg-black transition"
        >
          Add to cart
        </button>

      </div>
    </div>

  </div>
</div>
