/* IMAGE STRIP ANIMATION */
@keyframes scrollX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-animation {
  animation: scrollX 10s linear infinite;
}


/* INDICATOR ANIMATION */
/* For 4 images → 4 steps */
@keyframes indicatorSteps {
  0% { transform: translateX(0); }
  25% { transform: translateX(1.5rem); }
  50% { transform: translateX(3rem); }
  75% { transform: translateX(4.5rem); }
  100% { transform: translateX(0); }
}

/* Sliding dot bar */
.indicator-slider {
  animation: indicatorSteps 8s infinite;
}
